.container {
	width: 1160px;
	margin: 0 auto;
}

.nav {
	background: rgba(94, 93, 88, 0.6);
}

.logo {
	padding-right: 300px;
}

.navbar {
	display: flex;
	column-gap: 20px;
	align-items: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.navbar-list:not(:first-child) {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.6);
	transition: color 0.4s ease-in;
}

.navbar-list:hover {
	color: #18cfab;
}
/* TODO */
/* .navbar-list:hover::after {
	content: '';

	border: 2px solid #18cfab;
	transform: matrix(1, 0, 0, -1, 0, 0);
} */

.hero-bg {
	width: 100%;
	height: 980px;
	position: absolute;
	top: 0;
	z-index: -1;
}

.hero {
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	margin-top: 264px;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	color: #ffffff;
}

.hero-upper__subtitle {
	font-size: 35px;
	margin-bottom: 22px;
}

.hero-upper__subtitle-colored {
	color: #18cfab;
}

.hero-title {
	font-size: 78px;
	margin-bottom: 22px;
}

.hero-bottom__subtitle {
	font-weight: normal;
	font-size: 34px;
	color: #d4d4d4;
	text-transform: capitalize;
	margin-bottom: 129px;
}

.btn {
	padding: 16px;
	margin-right: 26px;
	font-weight: bold;
	font-size: 15px;
	line-height: 32px;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: Montserrat;
	color: #fff;
	border-top: 4px solid #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.hero-btn__blue {
	background-color: #00cbf6;
}

.hero-btn__blue:hover {
	background-color: #00b8dd;
}

.hero-btn__green {
	background-color: #18cfab;
}

.hero-btn__green:hover {
	background-color: #15b998;
}

.options {
	margin-top: 200px;
	margin-bottom: 76px;
	display: flex;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
}

.option {
	background: #1c2a33;
	width: 482px;
	height: 377px;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #18cfab;
}

.option img {
	max-width: 61px;
	max-height: 100px;
	margin-top: 95px;
	margin-bottom: 47px;
}

.option-alt {
	background: #18cfab;
	width: 482px;
	height: 377px;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #fff;
}

.option-alt img {
	width: 96px;
	height: 78px;
	margin-top: 105px;
	margin-bottom: 58px;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 91px;
}

.services-title {
	font-size: 36px;
	line-height: 40px;
	color: #4e4e4e;
	margin-bottom: 26px;
}

.tabs {
	display: flex;
}

.tabs-title {
	margin-top: 69px;
	margin-bottom: 28px;
	padding: 20px 16px;
	background-color: #f8fcfe;
	border: 1px solid #edefef;
	cursor: pointer;
	transition: all 0.5s ease;
}

.tabs-title:hover {
	border-color: #18cfab;
}

.tabs-title:focus {
	background: #18cfab;
}

.tabs-title.active {
	background: #18cfab;
}

.tabs-item {
	display: none;
}

.tabs-item.active {
	display: flex;
	font-weight: 300;
	font-size: 13.645px;
	line-height: 24px;
	max-width: 938px;
	column-gap: 15px;
	color: #777777;
}

.purchase {
	background-image: url('../img/purchase-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.purchase-title {
	padding-top: 125px;
	padding-bottom: 15px;
	color: #18cfab;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
}

.purchase-subtitle {
	color: #d8d8d8;
	font-size: 16px;
	line-height: 40px;
	padding-bottom: 62px;
}

.purchase-button {
	margin-bottom: 127px;
}

.works {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 95px;
	margin-bottom: 82px;
	background: #e9edef;
}

.works-title {
	font-size: 36px;
	line-height: 40px;
	color: #4e4e4e;
	margin-bottom: 20px;
}

.works-img {
	margin-bottom: 69px;
}

.works-tabs__titles {
	display: flex;
	/* align-items: center; */
	justify-content: center;
}

.works-tabs__title {
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #dadada;
	font-size: 14px;
	line-height: 42px;
	color: #717171;
	cursor: pointer;
	transition: all 0.5s ease;
	margin-bottom: 70px;
}

.works-tabs__title:first-child {
	padding: 12px 28px;
}

.works-tabs__title:not(:first-child) {
	padding: 14px 16px;
}

.works-tabs__title.active {
	border: 1px solid #18cfab;
	color: #18cfab;
}

.works-tabs__title:hover {
	border: 1px solid #18cfab;
}

.works-tabs__content img {
	width: 285px;
	height: 211px;
}

.works-tabs__content {
	margin-bottom: 99px;
}

.works-tabs__item {
	display: none;
}

.works-tabs__item.active {
	display: flex;
	flex-wrap: wrap;
}

.works-more {
	display: flex;
	align-items: center;
	column-gap: 15px;
	padding: 13px 15px;
	border-radius: 4px;
	outline: none;
	border: 0;
	background-color: #18cfab;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.4s ease;
	margin: 70px auto;
	margin-bottom: 99px;
}

.works-more:hover {
	background-color: #15b998;
}

.works-tabs__item--hidden {
	display: none;
}

.works-tabs__item--hidden.active {
	display: inline-flex;
	flex-wrap: wrap;
}

/* loader */

.lds-ripple {
	display: none;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ripple.active {
	display: inline-flex;
	padding: 0;
	margin: 0;
	top: 10px;
	left: 533px;
}

.lds-ripple div {
	position: absolute;
	border: 4px solid #444;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.news {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news-title {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 24px;
	color: #4e4e4e;
}

.news-img {
	margin-bottom: 68px;
}

.news-items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 35px;
	row-gap: 44px;
}

.news-item {
	position: relative;
	cursor: pointer;
}

.news-item__image {
	margin-bottom: 3px;
}

.news-item__date {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	background: #203E38;
	padding: 6px 15px;
	color: #fff;
	transition: all 0.4s ease;
	font-size: 16px;
	line-height: 25px;
}

.news-item:hover .news-item__date {
	background: #18CFAB;
}

.news-item__text--title {
	font-weight: bold;
	font-size: 17.9885px;
	line-height: 39px;
	color: #717171;
	transition: all 0.4s ease;
}

.news-item:hover .news-item__text--title {
	color: #18CFAB;
}

.news-item__text--info {
	font-weight: 300;
	font-size: 13.991px;
	line-height: 39px;
	color: #777777;
	white-space: pre;
}